:root {
  --navy: #000064;
  --cyan: #00ffff;
  --red: #ff0000;
  --cell-size: 44px;
}

* { box-sizing: border-box; }
body {
  margin: 0;
  background: radial-gradient(circle at center, var(--navy) 0%, #000064 80%);
  font-family: "Orbitron", sans-serif;
  color: #ffffff;
  text-align: center;
}
h1 {
  margin: 15px;
  letter-spacing: 3px;
  text-shadow: 0 0 12px #ffffff;
}
f{color:#804000;font-weight: 400;}
e{color:#808080;font-weight: 400;}
d{color:#ff8080;font-weight: 400;}
c{color:#eeeeff;font-weight: 400;}
b{color:#ffff00;font-weight: 400;}
a{color:#0080ff;font-weight: 400;}
m{color:#ff00ff;font-weight: 400;}
gm{color:#00ff00;font-weight: 400;}
sgm{color:#ff0000;font-weight: 400;}
hgm{color:#00ffff;font-weight: 400;}

.turn {
  color: #fff;
  margin-bottom: 10px;
}
.board {
  display: grid;
  grid-template-columns: repeat(15, var(--cell-size));
  grid-template-rows: repeat(15, var(--cell-size));
  gap: 2px;
  background: #ffffff;
  margin: 0 auto;
  border: 2px solid white;
  box-shadow: 0 0 25px white;
  padding: 8px;
  border-radius: 8px;
  width: 707px;
}
.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: var(--navy);
  background: #000064;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.2s;
}
.cell.red { color: var(--red);}
.cell.cyan { color: var(--cyan);}
.cell.selected { outline: 3px solid #ffffff; transform: scale(1.05); }
.cell:hover { background: rgba(255,255,255); }
.cell.highlight { background: rgba(0,255,0); }
.cell.last-move-dest { background-color: rgba(255,0,255); /* Faint yellow for where piece is now */ }
